on: [pull_request, push]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: configure Pagefile
      uses: al-cheb/configure-pagefile-action@v1.2
      if: matrix.os == 'windows-latest'
      with:
        minimum-size: 13GB 
        maximum-size: 13GB
        disk-root: "D:"
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download dependencies
      run: go mod download
    - name: Vet all packages
      run: go vet ./...
    - name: Test all packages
      run: go test -v -coverprofile cover.out -count 1 -failfast -race -timeout 60s ./...
    - name: Upload coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage-${{ matrix.os }}
        path: cover.out
